html {
  background: #2F4B5D;
  color: #FFF;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.loginNav {
  align-content: end;
}

.loginContainer {
  background: #FFFFFF;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  padding: 20px;
}

.loginInputs {
  padding: 10px;
  color: #2F4B5D;
}

.loginPage input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 10px;
  color: #2F4B5D;
}

.loginInputs label {
  justify-content: left;
  text-align: left;
}

.loginContainer h2 {
  color: #2F4B5D;
  margin-top: 50px;
  text-align: center;
  font-weight: normal;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage {
  margin-top: 50px;
  padding: 70px;
  align-items: center;
  justify-content: center;
}

.primaryButton {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #459AD7;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.primaryButton:hover {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: hsl(205, 52%, 41%);
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primaryButton:disabled {
  width: 200px;
  padding: 12px 20px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #808080;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.secondaryButton {
  width: 200px;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #459AD7;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.secondaryButton:hover {
  width: 200px;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background-color: #d9d9d9;
  color: #459AD7;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.secondaryButton:disabled {
  width: 200px;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background-color: #a5a5a5;
  color: #459AD7;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.homePage {
  padding: 100px;
}

.standardPage {
  text-align: center;
  padding: 175px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

h1,
h2 {
  font-weight: normal;
}

.genCodeContainer {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  font-size: 30px;
  width: 60%;
  margin: 50px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.roomId {
  text-align: left;
  font-size: 20px;
  padding: 5px;
  width: 20%;
  margin: 50px;
}

.rightAlignedContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  padding-right: 20px;
  justify-content: center;
  vertical-align: bottom;
}

.roomPage {
  text-align: left;
  justify-content: left;
  padding-left: 35px;
  height: auto;
}

.roomPage form {
  display: block;
}

.columnDisplay {
  display: inline-block;
  width: 45%;
  padding: 2rem 2rem;
  vertical-align: top;
}

input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.question {
  padding-left: 20px;
}

.bottomRightButton {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.secondaryBottomRightButton {
  position: absolute;
  bottom: 3.5%;
  right: 20%;
  margin-right: 1rem;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 10px;
  color: #2F4B5D;
  width: 35%;
}

.displayBlock {
  display: block;
}

.createQuestionsPage {
  padding: 90px;
  padding-right: 70px;
  text-align: left;
}

.createQuestionsPage input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 10px;
  color: #2F4B5D;
  width: 100%;
}
/*
@media only screen and (max-width: 600px) {

  html {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px;
  }

  .loginPage {
    padding: 20px;
  }

  form {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  .primaryButton,
  .secondaryButton {
    width: 100%;
    margin: 10px 0;
  }

  .roomId {
    width: 100%;
    margin: 20px 0;
  }

  .columnDisplay {
    width: 100%;
    padding: 1rem;
  }

  .createQuestionsPage {
    padding: 20px;
  }
} */